# This is an example file, you need to change $USER to your username
[Unit]
Description=SyncTest
[Service]
# If your install location of sync.sh differs, change here
ExecStart=/home/$USER/.local/bin/sync.sh /media/$USER/Backup /home/$USER/Desktop/test.file
RestartSec=5s
Restart=on-success
